html,
body {
  margin: 0px;
  padding: 0px;
}

.log {
  color: white;
}

.terminal {
  margin-top: -20px;
  margin-bottom: -20px;
}

.load {
  margin: 0px;
  padding: 0px;
  height: 100%;
  min-height: 100%;
  width: 100%;
  background: black;
}

.rootname {
  font-family: monospace;
  color: rgb(69, 236, 69);
}

.term {
  font-family: monospace;
  color: #fff;
  opacity: 0.8;
  font-size: 1.5em;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 10px;
  padding-left: 20px;
}

.init {
  font-family: monospace;
  color: #fff;
  opacity: 0.8;
  font-size: 1.5em;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 10px;
  padding-left: 20px;
}

.term:after {
  content: "_";
  opacity: 1;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 680px) {
  .term {
    font-size: 12px;
  }

  .init {
    font-size: 10px;
  }
}
